In [174]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [175]:
def topk_by_date(date, score, k = 100):
    df ={'date':date, 'score':score}
    df = pd.DataFrame(df)
    topk = df.groupby('date').score.nlargest(k)
    return topk

In [176]:
df = pd.read_csv('reddit_worldnews_1year.csv')

In [177]:
train_valid_rate = 0.95
train_valid_point = int(train_valid_rate * len(df))
train_df = df.iloc[:train_valid_point, :]
valid_df = df.iloc[train_valid_point:, :]

In [178]:
df = train_df
date_list = pd.unique(df.date)
df.groupby('date').agg('count').head()

            Unnamed: 0  title  log_score
date
2017-06-01        1231   1231       1231
2017-06-02        2469   2469       2469
2017-06-03        1616   1616       1616
2017-06-04        1688   1688       1688
2017-06-05        1928   1928       1928

In [180]:
df['score_label'] = np.zeros(len(df), dtype=np.int32)
top_score = []
for date in date_list:
    df_by_date = df[df['date'] == date]
    topk = int(0.1 * len(df_by_date))
    top_score.extend(df_by_date.log_score.nlargest(topk).index)

In [181]:
df['score_label'][top_score] = 1

/home/qara/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [200]:
df_1 = df[df['score_label']==1]
df_0 = df[df['score_label']==0]
df_0 = df_0.sample(frac=1.0, replace=True)
df_concat = pd.concat([df_0, df_1])
df_concat = df_concat.reset_index()
df_concat.head()

,level_0,index,Unnamed: 0,title,log_score,date,score_label
0,12997,147746,147746,malaysias embattled najib questioned by anti c...,0.477121,2018-05-22,0
1,5781,131121,131121,nato and washington worry about russian subs i...,1.579784,2018-04-27,0
2,10779,181992,181992,dna tests disprove womans claim that dal was h...,0.301030,2017-09-07,0
3,8466,182190,182190,members mark super premium ply paper towels ro...,0.301030,2017-09-07,0
4,48566,154799,154799,indonesian court sentences first travel execut...,0.778151,2018-05-31,0

In [201]:
df = df_concat.sample(frac=1).reset_index(drop=True)
train_df = df
df.head()

,level_0,index,Unnamed: 0,title,log_score,date,score_label
0,40792,252830,252830,curiosity rover finds its crater was habitable...,2.970812,2017-06-03,1
1,30401,103812,103812,austrian man gets passed over for promotion in...,2.491362,2018-03-21,1
2,4428,193221,193221,north korea may detonate hydrogen bomb in the ...,3.421768,2017-09-22,1
3,6866,59648,59648,palestinian family shoots dead relative suspec...,1.672098,2018-01-20,1
4,54653,234083,234083,bob barr quotes about technology,0.301030,2017-07-13,0

In [202]:
vectorizer = CountVectorizer(ngram_range=(1,1))
vectorizer = vectorizer.fit(train_df['title'])

In [203]:
trans_title_train = vectorizer.transform(train_df['title'])
trans_title_valid = vectorizer.transform(valid_df['title'])

In [204]:
model = LinearRegression()

In [205]:
model = model.fit(trans_title_train, train_df['log_score'])

In [206]:
prediction = model.predict(trans_title_valid)

In [207]:
def evaluate_by_top_score(date, score, pred):
    df = pd.DataFrame({'date':date, 'score':score, 'pred':pred})
    date_list = pd.unique(date)
    
    df['score_label'] = np.zeros(len(df), dtype=np.int32)
    df['pred_label'] = np.zeros(len(df), dtype=np.int32)
    top_score = []
    top_pred = []
    
    for day in date_list:
        df_by_date = df[df['date'] == day]
        topk = int(0.1 * len(df_by_date))
        top_score.extend(df_by_date.score.nlargest(topk).index)
        top_pred.extend(df_by_date.pred.nlargest(topk).index)
        
    df['score_label'][top_score] = 1
    df['pred_label'][top_pred] = 1
    cross = pd.crosstab(df['score_label'], df['pred_label'], rownames=["Actual"], colnames=["Predicted"])
    precision = cross[1][1] / (cross[1][1] + cross[0][1]) 
    print(cross)
    print()
    print("precision: {}".format(precision))
    
    return precision

#type(prediction)
valid_df['pred'] = prediction
valid_df

,Unnamed: 0,title,log_score,date,pred,score_label,pred_label
288798,288798,vanessa kerry quotes about truth,0.301030,2017-06-13,0.052585,0,0
288799,288799,the us takes syrias al qaeda off terror watch ...,0.301030,2017-06-13,1.416842,0,0
288800,288800,covfefe act would make social media a presiden...,0.698970,2017-06-13,-0.181352,0,0
288801,288801,hot at the best escort service in noida,0.301030,2017-06-13,-1.036932,0,0
288802,288802,grow taller height enhancement program,0.301030,2017-06-13,0.742604,0,0
288803,288803,munich shooting four hurt at suburban railway ...,0.301030,2017-06-13,1.053469,0,0
288804,288804,erdoan to discuss qatar crisis with us preside...,0.602060,2017-06-13,1.437304,0,0
288805,288805,isis calls for attacks in west russia middle e...,1.041393,2017-06-13,0.993917,0,0
288806,288806,indonesian police foil shipment of detonators,0.954243,2017-06-13,1.115654,0,0
288807,288807,australia immigration consultants in bangalore,0.301030,2017-06-13,0.235214,0,0
288808,288808,islamic state cells in nearly all indonesian p...,0.903090,2017-06-13,0.825517,0,0
288809,288809,badoo members break pastors head with mortar,0.301030,2017-06-13,0.480902,0,0
288810,288810,sri lanka train deaths prompt selfie crackdown...,1.204120,2017-06-13,0.434515,0,0
288811,288811,ipro leads software sucks email leads out of f...,0.301030,2017-06-13,1.993159,0,0
288812,288812,new russo france relations,0.301030,2017-06-13,-1.578538,0,0
288813,288813,msi pe battery,0.301030,2017-06-13,3.001563,0,1
288814,288814,america created isis and its war on the group ...,0.954243,2017-06-13,1.557426,0,0
288815,288815,great moment in technology,0.301030,2017-06-13,0.910150,0,0
288816,288816,un probe would inflame tensions suu kyi,0.602060,2017-06-13,2.506237,0,0
288817,288817,spaniard held for days in us prison over vacat...,1.342423,2017-06-13,3.600777,0,1
288818,288818,winter thermal wear,0.301030,2017-06-13,1.133339,0,0
288819,288819,egypt said to offer hamas electricity in excha...,0.602060,2017-06-13,2.491012,0,1
288820,288820,munich shooting four hurt at suburban railway ...,0.903090,2017-06-13,0.903071,0,0
288821,288821,australia immigration consultants in bangalore,0.301030,2017-06-13,0.235214,0,0
288822,288822,breaking several people shot in munich train s...,0.301030,2017-06-13,2.203225,0,0
288823,288823,zora neale hurston quotes about morning,0.301030,2017-06-13,1.051953,0,0
288824,288824,putin notes washington planned to use terroris...,0.000000,2017-06-13,2.754123,0,1
288825,288825,megyn kelly says she had a duty to shine a lig...,0.301030,2017-06-13,-2.767752,0,0
288826,288826,china establishes highest military award,0.778151,2017-06-13,0.778146,0,0
288827,288827,chinese police save cats in cages meant for sa...,2.079181,2017-06-13,2.079292,1,0
...,...,...,...,...,...,...,...
303968,303968,christmaths a creative problem solving math book,0.301030,2017-07-01,1.807061,0,1
303969,303969,chinas flag to rise over hong kong as city mar...,1.146128,2017-07-01,0.356315,0,0
303970,303970,listen to the nypd respond to todays active sh...,0.301030,2017-07-01,-1.325862,0,0
303971,303971,graco tranzitions in harness booster convertib...,0.301030,2017-07-01,-0.270343,0,0
303972,303972,numerologist review personalized life reading,0.301030,2017-07-01,0.138301,0,0
303973,303973,canadian government spends over k in legal fee...,1.230449,2017-07-01,1.199212,0,0
303974,303974,multiple people shot at bronx hospital,0.000000,2017-07-01,-0.048731,0,0
303975,303975,denied afghanistans all girl robotics team can...,4.564370,2017-07-01,3.309640,1,1
303976,303976,offended muslims demand restaurant remove pork...,0.301030,2017-07-01,-3.086451,0,0
303977,303977,angela merkel votes against same sex marriage ...,0.301030,2017-07-01,2.630989,0,0
303978,303978,christopher fry quotes about imagination,0.301030,2017-07-01,-0.018921,0,0
303979,303979,dota navigation the first pro dota guide made ...,0.301030,2017-07-01,0.301036,0,0
303980,303980,attack at bronx ny hospital,0.301030,2017-07-01,-0.939993,0,0
303981,303981,doctor with rifle kills hurts at nyc hospital,1.491362,2017-07-01,1.276944,0,0
303982,303982,pence tells north korea the era of strategic p...,0.477121,2017-07-01,2.521582,0,0
303983,303983,gruesome pic shows mass slaughter of whales in...,0.778151,2017-07-01,1.861880,0,0
303984,303984,puerto rico struggles to save historic buildin...,0.477121,2017-07-01,2.537632,0,1
303985,303985,algernon charles swinburne quotes about hope,0.301030,2017-07-01,0.244163,0,0
303986,303986,stars gather for lionel messis wedding,0.301030,2017-07-01,5.960461,0,1
303987,303987,how to pick from a good web hosting plan,0.301030,2017-07-01,-0.178939,0,0
303988,303988,google hangouts hangout mastery membership,0.301030,2017-07-01,2.437873,0,1
303989,303989,mom allegedly sent pics of her own kids doing ...,0.301030,2017-07-01,-2.372266,0,0
303990,303990,australian counter terrorism police charge two...,0.301030,2017-07-01,1.566287,0,0
303991,303991,oliver hudson quotes about dad,0.301030,2017-07-01,0.640675,0,0
303992,303992,new york hospital ex employee opens fire in bronx,0.301030,2017-07-01,-0.676372,0,0
303993,303993,theresa may has hamstrung david davis in brexi...,1.000000,2017-07-01,0.718917,0,0
303994,303994,former mexican president implores trump to not...,0.301030,2017-07-01,3.902599,0,1
303995,303995,ma youtube channel photo,0.301030,2017-07-01,0.148742,0,0
303996,303996,attracting wealth through the law of attractio...,0.301030,2017-07-01,3.750385,0,1
303997,303997,prank lord tebbit lets slip how hed stop fello...,0.301030,2017-07-01,-1.238089,0,0

In [208]:
valid_df['score_label'] = np.zeros(len(valid_df), dtype=np.int32)
valid_df['pred_label'] = np.zeros(len(valid_df), dtype=np.int32)
date_list = pd.unique(valid_df.date)
valid_df.head()

,Unnamed: 0,title,log_score,date,pred,score_label,pred_label
288798,288798,vanessa kerry quotes about truth,0.30103,2017-06-13,0.052585,0,0
288799,288799,the us takes syrias al qaeda off terror watch ...,0.30103,2017-06-13,1.416842,0,0
288800,288800,covfefe act would make social media a presiden...,0.69897,2017-06-13,-0.181352,0,0
288801,288801,hot at the best escort service in noida,0.30103,2017-06-13,-1.036932,0,0
288802,288802,grow taller height enhancement program,0.30103,2017-06-13,0.742604,0,0

In [209]:
top_score = []
top_pred = []
for date in date_list:
    df_by_date = valid_df[valid_df['date'] == date]
    topk = int(0.1 * len(df_by_date))
    top_score.extend(df_by_date.log_score.nlargest(topk).index)
    top_pred.extend(df_by_date.pred.nlargest(topk).index)
valid_df['score_label'][top_score] = 1
valid_df['pred_label'][top_pred] = 1

/home/qara/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/qara/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [210]:
pd.crosstab(valid_df['score_label'], valid_df['pred_label'], rownames=["Actual"], colnames=["Predicted"])

Predicted      0     1
Actual
0          12411  1276
1           1276   237